<%= form_with(model: shot) do |form| %>
  <% if shot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
        <% shot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= form.file_field :user_shot  %>
  </div>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>
 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
