<h2 class="text-center my-2"> All Users</h2>

<div class="w-100 p-2">
  <table class="table table-success table-striped table-hover text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td ><%= link_to 'Show', user, class:"btn" %></td>
          <td ><%= link_to 'Edit', edit_user_path(user), class:"btn" %></td>
          <td ><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="text-center">
  <%= link_to 'New User', new_user_path, class:"btn btn-outline-success m-auto" %>
</div>

<% provide(:title, "All Users") %>
<%= @users[1].inspect %>