<h1>Products</h1>
<div class="text-center p-2 my-3">
<table class="table-striped table-hover text-center table">
  <tbody>
    <% @products.each do |product| %>
      <tr class="justify">
        <td class="my-auto">

          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <%= image_tag(product.image_url, alt:"#{product.title}", class:"my-auto") %>
            </div>       
            <div class="flex-grow-1 ms-3">
              <b><%= product.title %></b>
              <p class="justify"><%= truncate(strip_tags(product.description),
  length: 120) %> </p>
             </div>
          </div>
        </td>
        <td>
          <ul style="list-style-type: none;">
            <li class="d-block my-3 mx-1"><%= link_to 'Show', product %></li>
            <li class="d-block my-3 mx-1"><%= link_to 'Edit', edit_product_path(product) %></li>
            <li class="d-block my-3 mx-1"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
</div>