<%= form_with(model: instrument) do |form| %>
  <% if instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
        <% instrument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand , placeholder: :brand %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: :description, rows:"10" %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, placeholder: :condition %>
  </div>

  <div class="field">
    <%= form.label :finish %>
    <%= form.text_field :finish, placeholder: :finish %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: :title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, placeholder: :price %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>  
