<!DOCTYPE html>
<html>
  <head>
    <title>Apps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice || alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= notice %>
        <%= alert %>
        <button type="button" class="btn-close m-auto" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>  
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

  </body>
</html>
