<!DOCTYPE html>
<html>
  <head>
    <title>Apps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice || alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= notice %>
        <%= alert %>
        <button type="button" class="btn-close m-auto" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    
    <%= render "layouts/header" %>
    <h2>Your Pragmatic Catalog </h2>
    <div class="p-1 rounded-circle bg-secondary container"></div>
    <div class="row w-100 p-2 px-md-5">
      <div class="col-md-8 <%= @setoffset  %>">
        <%= yield %>
      </div>  
      <% if @cart %>
        <div class="col-md-3" style="position: fixed; top: 25%; right: 30px;">
          <div id="cart">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        </div>
      <% end %>
  </div>  
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

  </body>
</html>
